---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
export const prerender = true;

import arifulIslam from '../media/ecr-committee/ariful-islam.jpg';
import bertaBlanchLazaro from '../media/ecr-committee/berta-blanch-lazaro.jpg';
import emilyDowling from '../media/ecr-committee/emily-dowling.jpg';
import gervaisHabarugira from '../media/ecr-committee/gervais-habarugira.jpg';
import belindaLinnegar from '../media/ecr-committee/belinda-linnegar.jpg';
import marindaMortlock from '../media/ecr-committee/marinda-mortlock.jpg';
import melanieTripp from '../media/ecr-committee/melanie-tripp.jpg';
import sarahVanTol from '../media/ecr-committee/sarah-van-tol.jpg';
---

<Layout>
  <div class="prose mx-auto px-4 py-8">
    <p><strong>If you are a student or a postdoctoral research fellow, this section is for you!</strong></p>
    <p>
      We look forward to welcoming you and witnessing the incredible contributions you will make to the field of henipavirus research.
      <br />
      This conference will be your gateway to explore henipavirus research, engage with leaders in the field, and build lasting collaborations! It's an opportunity to be inspired, challenge your perspectives, and contribute your voice to the global research dialogue. Together, we can create a future that reflects our shared commitment to knowledge, discovery, and impact.
      <br />
      This page is a dedicated information platform for all students and early career researchers. 
    </p>
    <p><strong>Planned activities for graduate students and postdoctoral fellows</strong></p>
    <ol>
      <li><strong class="underline">Sunday the 8th of December</strong>: Join us after the welcome event, in the evening, for a casual meet up of ECRs over a sweet treat and become acquainted with the Geelong waterfront including demonstrating the location of the conference venue.</li>
      <li><strong class="underline">Monday the 9th of December</strong>: Join us at lunchtime to get to know your ECR peers over a fun trivia session with prizes to be won.</li>
      <li><strong class="underline">Tuesday the 10th of December</strong>: There will be a great networking and mentoring opportunity at lunchtime to connect ECRs with leaders in the field in an informal setting with researchers open to any questions ECRs may have.</li>
    </ol>
    <p><strong>Keep an eye on this space for specific details regarding the events</strong></p>
    <h2>Who are we? Your ECR committee</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Ariful Islam -->
        <div class="bg-white rounded-lg shadow-md p-4 max-w-sm">
          <div>
            <Image class="w-64 h-64 object-cover rounded-lg" src={arifulIslam} alt="Ariful Islam">
          </div>
          <div class="mt-4">
            <h3 class="text-lg font-semibold">Ariful Islam</h3>
            <p class="text-gray-600">I'm a veterinary epidemiologist and disease ecologist working as a senior scientist and Bangladesh Programs Coordinator at EcoHealth Alliance. My research focuses on the epidemiology and ecology of emerging zoonotic viruses such as Nipah (NiV), Ebola, and coronaviruses at the One Health interface. Currently, I'm working on NiV dynamics and genetics in bats and on the patterns of human outbreaks across Bangladesh.</p>
          </div>
        </div>
        <!-- Berta Blanch Lazaro -->
        <div class="bg-white rounded-lg shadow-md p-4 max-w-sm">
          <div>
            <Image class="w-64 h-64 object-cover rounded-lg" src={bertaBlanchLazaro} alt="Berta Blanch Lazaro">
          </div>
          <div class="mt-4">
            <h3 class="text-lg font-semibold">Berta Blanch Lazaro</h3>
            <p class="text-gray-600">I'm a research veterinarian with a long-standing passion for wildlife and animal health, especially in the context of One Health. Now based at ACDP-CSIRO in Geelong, I'm a postdoctoral fellow working on developing ex-vivo models to study the pathogenesis and the host immune response to lumpy skin disease infection. </p>
          </div>
        </div>
        <!-- Emily Dowling -->
        <div class="bg-white rounded-lg shadow-md p-4 max-w-sm">
          <div>
            <Image class="w-64 h-64 object-cover rounded-lg" src={emilyDowling} alt="Emily Dowling">
          </div>
          <div class="mt-4">
            <h3 class="text-lg font-semibold">Emily Dowling</h3>
            <p class="text-gray-600">I am a first year PhD student working on characterising the virulence determinants of henipaviruses. I am based at CSIRO ACDP Geelong through Deakin University, and I am looking forward to welcoming you all to Geelong for this exciting conference to commemorate 30 years of Hendra Virus.</p>
          </div>
        </div>
        <!-- Gervais Habarugira -->
        <div class="bg-white rounded-lg shadow-md p-4 max-w-sm">
          <div>
            <Image class="w-64 h-64 object-cover rounded-lg" src={gervaisHabarugira} alt="Gervais Habarugira">
          </div>
          <div class="mt-4">
            <h3 class="text-lg font-semibold">Gervais Habarugira</h3>
            <p class="text-gray-600">I am a dedicated veterinarian with a strong interest in the research of infectious diseases. My focus areas include the pathobiology of infectious diseases, including pathogenesis, immune responses, and control strategies, with a particular interest in zoonotic diseases. Currently, I am a CERC fellow at the ACDP, CSIRO. My research involves investigating immune response pathways to the HeV vaccine in horses and developing tools to evaluate post-vaccination immune responses to the HeV vaccine.</p>
          </div>
        </div>
        <!-- Belinda Linnegar -->
        <div class="bg-white rounded-lg shadow-md p-4 max-w-sm">
          <div>
            <Image class="w-64 h-64 object-cover rounded-lg" src={belindaLinnegar} alt="Belinda Linnegar">
          </div>
          <div class="mt-4">
            <h3 class="text-lg font-semibold">Belinda Linnegar</h3>
            <p class="text-gray-600">I am a 3rd year PhD candidate at Griffith University. My research focuses on the role of domestic animals in emerging zoonoses. I am currently investigating the ecological and behavioural dynamics of domestic horses in Hendra virus spillover from flying foxes.</p>
          </div>
        </div>
        <!-- Marinda Mortlock -->
        <div class="bg-white rounded-lg shadow-md p-4 max-w-sm">
          <div>
            <Image class="w-64 h-64 object-cover rounded-lg" src={marindaMortlock} alt="Marinda Mortlock">
          </div>
          <div class="mt-4">
            <h3 class="text-lg font-semibold">Marinda Mortlock</h3>
            <p class="text-gray-600">I am a postdoctoral researcher in the Centre for Viral Zoonoses at the University of Pretoria, South Africa. My research focuses on bio- and serosurveillance of bat-borne paramyxoviruses at the human-wildlife-livestock interface and assessing risk of virus transmission and spill-over.</p>
          </div>
        </div>
        <!-- Melanie Tripp -->
        <div class="bg-white rounded-lg shadow-md p-4 max-w-sm">
          <div>
            <Image class="w-64 h-64 object-cover rounded-lg" src={melanieTripp} alt="Melanie Tripp">
          </div>
          <div class="mt-4">
            <h3 class="text-lg font-semibold">Melanie Tripp</h3>
            <p class="text-gray-600">Hi there, I'm a third year PhD student working between Monash University and CSIRO-ACDP. My project is titled 'Defining differences between the Hendra virus genotypes' and I have compared features including innate immune antagonism and viral replication.</p>
          </div>
        </div>
        <!-- Sarah van Tol -->
        <div class="bg-white rounded-lg shadow-md p-4 max-w-sm">
          <div>
            <Image class="w-64 h-64 object-cover rounded-lg" src={sarahVanTol} alt="Sarah Van Tol">
          </div>
          <div class="mt-4">
            <h3 class="text-lg font-semibold">Sarah van Tol</h3>
            <p class="text-gray-600">I am a postdoctoral researcher (IRTA) in the Virus Ecology Section of the Laboratory of Virology at Rocky Mountain Laboratories (NIAID, NIH). I use Jamaican fruit bats as an infection model for filo- and henipavirus infections and study the innate immune system of multiple bat species. Overall, I am interested in understanding the viral, host, and environmental factors that influence susceptibility and shedding.</p>
          </div>
        </div>
    </div>
    <div>
      <h2>FAQs section</h2>
      <h3>Weather/what should I pack</h3>
      <p>Geelong is located on the southeast coast of Australia with December being the start of summer. Hopefully we will have some warm days but the temperature can vary and change quickly so make sure to bring a warm jumper! You may also need a raincoat or umbrella for the rain and sunscreen if you plan to spend time outdoors.</p>
      <h3>Walking</h3>
      <p>If you enjoy walking outdoors in the warm Geelong weather, you are welcome to take a walk. Geelong is a safe and pleasant place to do so. If you need assistance, a CSIRO-based ECR would be available to provide guidance.</p>
      <h3>Accommodation</h3>
      <p>Conference delegates are encouraged to book their accommodation as soon as possible. There are four local hotels that provide a discount only when booked via the conference website. We acknowledge that ECR funding might be limited, so Airbnb might be a cheaper alternative. If you are considering Airbnb, or renting a room in a shared house, please get in touch with the ECR organising committee for help via the conference email. "Beware of scams!" The conference organisers will NEVER send you promotion emails about any accommodation. If you receive such a communication, please ignore that. Also, NEVER provide your banking details, such as your credit card, to any third party.</p>
      <p>There are also some cheaper accommodation options through <a href="https://accommodation.deakin.edu.au/short-stay/stay-at-geelong-waterfront" target="_blank" class="underline text-violet-600">Deakin University</a> where you can rent a private bedroom with a shared living space from $75 per night.</p>
    </div>
    <div>
      <h2>Things to do in Geelong - top spots guide</h2>
      <p>Geelong is a nice, small, safe, and calm city, with tourist attractions. The links below highlights a sample of things to do in Geelong and places to visit.</p>
      <ul>
        <li><a href="https://www.geelonggallery.org.au/" target="_blank" class="text-violet-600">Geelong Gallery</a></li>
        <li><a href="https://www.greatoceanroadaustralia.org/geelong-waterfront/" target="_blank" class="text-violet-600">The Ultimate Guide to the Geelong Waterfront</a></li>
        <li><a href="https://www.gobeyondmelbourne.com/attraction/baywalk-bollards/" target="_blank" class="text-violet-600">Baywalk Bollards</a></li>
        <li><a href="https://www.geelongaustralia.com.au/parks/item/balyang.aspx" target="_blank" class="text-violet-600">Balyang Sanctuary</a></li>
        <li><a href="https://www.geelonggolf.com.au/" target="_blank" class="text-violet-600">Geelong Golf Club</a></li>
        <li><a href="https://www.visitvictoria.com/regions/great-ocean-road/see-and-do/nature-and-wildlife/beaches-and-coastlines/the-great-ocean-road?SubsiteID=3" target="_blank" class="text-violet-600">The Great Ocean Road, Beaches and coastlines</a></li>
        <li><a href="https://www.parks.vic.gov.au/places-to-see/parks/serendip-sanctuary" target="_blank" class="text-violet-600">Serendip Sanctuary</a></li>
        <li><a href="https://www.parks.vic.gov.au/places-to-see/parks/you-yangs-regional-park" target="_blank" class="text-violet-600">You Yangs Regional Park</a></li>
      </ul>
    </div>
  </div>
</Layout>
